<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17B1003</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>NWEA Secure Testing Browser</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>itssecure</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-its-secure</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SBMimeAndExtensionsType</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Secure Browser-SVC</string>
	<key>CFBundleGetInfoString</key>
	<string>4.0.0.3, Copyright © 2018 Northwest Evaluation Association</string>
	<key>CFBundleIconFile</key>
	<string>icon_128.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.nwea.secure-testing-browser</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NWEA Secure Testing Browser</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.0.3</string>
	<key>CFBundleSignature</key>
	<string>itSB</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>4.0.0.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8C1002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15A278</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0821</string>
	<key>DTXcodeBuild</key>
	<string>8C1002</string>
	<key>LSEnvironment</key>
	<dict>
		<key>MinimumSystemVersion</key>
		<string>10.9</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>LSUIPresentationMode</key>
	<integer>0</integer>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SBApplication</string>
	<key>SUCheckAtStartup</key>
	<false/>
	<key>SUExpectsDSASignature</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://ppv.programworkshop.com/sbrowser/WS/IsUpdateNeeded.aspx</string>
	<key>SUPublicDSAKey</key>
	<string>MIIDOjCCAi0GByqGSM44BAEwggIgAoIBAQDZ/nIMNUOUVyAyzd0A92EBAZjh3KlI
D2683EEdZR/kzAN/0ZuX6oR4VRwjbjjjc0OaiCjjq7WQYh5zU3dFpwaB9ezPewXI
1qPRsgnbdIpge6KVIe4FmvhYBYr3AysvXRRc5SavndoRIJAM7ka/reNYKBjgRyYs
Msj4PxG/pCfrdxmhJl2hUTTcoYMF7dadLO5nt4oqBbg83lfAT5RanQ9r0pW/nY9R
I2mw4sI2+EkgqepMSOggRY47FmsayhMzvDwV8jiH9gwG5nn9V1yeU6ptdlsm7bph
7J+LYS0TUBgwP2inMZ3ymPaFP4OxHVqdObTHjs9UXPvtFisCFislvN5BAhUA9Oqw
tADLYA2z/c/RCv+2e2v5C3kCggEARZiuAaaqvvun0d1z02HJBBhKcVx5qFioTCRr
xroHoEWFsckdINdNsOhHoCZyDk5kFRZI5M22VUXxBjR7166fLLrhbo+ZqKxpTMUj
f51wp5eUDZYKo93ow2QfCHysPyMHk8JLVkAm5MoRFFrwjjlAjFGV2zgMu4NBHqb+
Qce17EMfd2aDPFwUrYxkWNWyZBkJvsDZ21HmEA/jRDKXAqNtph+VmqRet6xt2T8t
8Pn9DKpnI1bBRyUtyEv9uiQyisI8qBHrooecaqRJbMUO7CPevY5JYZrO3fXev7kl
IrTTZrDmNF0f3fZC59WvuHw7QhlhzJGmxJr/qc+qXED9wuDegAOCAQUAAoIBAGsR
orHYuUTKodoONhv4/2cOCzgWtiRIJd3b/Ml3z/tsvJCGLDjfcCHZYTn4yM1xegmD
/YjkaYk3owcKheYm2gJTHjDWUbQj+xCCEv9Teqk4ZLMQFqzHHFYYoMjxzyD9rywM
qWlEftQxImDZ0MJeHHxQBTB4G+L4YLOM/JEzRtC4KFt3OMZbvL9SAN/S9Uu1wlO1
ayD7vz/G+sryaaC7dAzdPD0h3blHoYMUyfsOqUj1UvSA0CIzaA4MTXy8bqxs+E4B
4cSgf2AOa6ZbDXVpGbCiM3uIRcGtGv9PpwrxAjjbtcc6KDJs0Ksz22DQZY8xZrPd
Nxf+hKCBTuglKkyMfW8=</string>
	<key>SUShowReleaseNotes</key>
	<false/>
</dict>
</plist>
